{{ form_start(form) }}
    {{ form_widget(form) }}
 <div class="form-group mt-1">
     <button type="submit" class="btn btn-primary btn-block"> <i class="fa fa-user-plus" aria-hidden="true"></i> Valider</button>
  </div>
{{ form_end(form) }}
